<% include common/_head %>
<h2>よくある質問</h2>
<p>主に新入生の方とかが気になりそうな、よくある<small>かもしれない</small>質問です。</p>
<p>ここにない質問などは<a href="contact.html">お問い合わせ</a>から！</p>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Q.LinuxClubのLinuxって何？</h2>
    </div>
    <div class="panel-body">
        <p>Linuxは現在世界で幅広く使われているOS(オペレーティングシステム)の一種です。その用途は多岐に渡っており、Android OSや各種サーバーなどに使われています。</p>
        <p>もともとは、Linux研究会としてLinuxに関することをメインに取り扱うサークルでしたが、現在ではLinuxに限らず、様々な技術を取り扱うサークルになりました。</p>
        <p>Linuxに興味がある方はもちろん、そうではない方も大歓迎です。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Q.コンピュータに強くないと厳しい？</h2>
    </div>
    <div class="panel-body">
        <p>そんなことはまったくありません。</p>
        <p>自分の興味のあることを共有しながらワイワイと活動しています。知りたいことがあれば、先輩に聞いて一緒に悩むことも可能です。</p>
        <p>是非一度活動にお越しください！</p>
    </div>
</div>




<% include common/_footer %>