<% var title = "新入生向けページ" %>
<% include common/_head %>
<h2>入学おめでとうございます!</h2>
<img src="image/nyugaku_boy.png" alt="入学おめでとう" class="img-responsive" width="30%">
<p>新入生のみなさま、入学おめでとうございます!</p>
<p>そして、LinuxClubに興味を持っていただきありがとうございます。</p>
<p>このページではLinuxClubの新入生向けイベントについて紹介します。ぜひ最後まで御覧ください。</p>

<h2>LinuxClubって何？</h2>
<p>LinuxClubは八王子キャンパス公認のプログラミングサークルです。"プログラミングサークル"と銘打っていますが、部員が興味を持ったことに関してわいわいと取り組む、そんなサークルです。</p>
<p>学内で唯一、物理的なサーバーをサークルで所有しているため、サーバー管理やインフラ整備などにトライすることもできます。</p>
<p>プログラミングスキルや学部は一切問いません。これから学びたい方も、そうでない方も<del>Vim派の方もEmacs派の方も</del>大歓迎です。</p>
<p>ぜひ一度活動にお越しください!(途中退出・途中参加大歓迎です。)</p>

<h2>新入生歓迎イベント</h2>
<p>4月11日・13日に厚生棟4階D食堂で開催されるサークル説明会に参加します。部員が常駐する予定ですので、興味のある方はぜひお越し下さい。</p>
<img src="image/shinkan_map.jpg" alt="新歓会場案内図" class="img-responsive" width="60%">

<h2>活動日</h2>
<p>基本的に開講日の火曜・金曜の18時30分ごろから以下の場所で活動を行っています。</p>
<p>今年度は4月14日(金)から活動開始予定です。<u>4月11日(火)は新歓イベント開催の為、活動はありません。ご注意ください。</u></p>
<table class="table">
    <tr>
        <th>曜日</th>
        <th>活動場所</th>
        <th>活動時間</th>
    </tr>
    <tr>
        <td>火</td>
        <td>講義実験棟402</td>
        <td>18:30〜</td>
    </tr>
    <tr>
        <td>金</td>
        <td>講義実験棟306</td>
        <td>18:30〜</td>
    </tr>
</table>
<small class="text-left">時間・場所は状況等により変わる場合があります。</small>
<% include common/_footer %>