<% var title = "TOP" %>
<% include common/_head %>
<h2>LinuxClubについて</h2>
<p>LinuxClub<small>(リナックスクラブ)</small>は東京工科大学公認の技術系サークルです。</p>
<p>Webサイト構築・サーバーの保守管理・スマートフォンアプリ開発・競技プログラミングなど幅広い分野を取り扱っています。</p>
<p>毎週火曜・金曜の放課後や、講義の空き時間に部員たちで集いIT業界の最新動向について語りあったり、情報交換をしたり、趣味のあう仲間と楽しく活動をしています。</p>
<p>少しでも活動に興味のある方は、<a href="contact.html">こちら</a>からお問い合わせいただくか、活動場所までぜひお越しください！</p>
<p>部員一同、お待ちしています！</p>

<h2>入学おめでとうございます!</h2>
<p>新入生のみなさん、入学おめでとうございます!</p>
<p>LinuxClubに興味を持っていただきありがとうございます。新入生向け情報をまとめました!</p>
<p>ぜひご覧ください。</p>
<p><a href="freshman-2017.html">新入生向けページ</a></p>

<h2>活動日</h2>
<p>基本的に開講日の火曜・金曜の18時30分ごろから以下の場所で活動を行っています。</p>
<table class="table">
    <tr>
        <th>曜日</th>
        <th>活動場所</th>
        <th>活動時間</th>
    </tr>
    <tr>
        <td>火</td>
        <td>講義実験棟402</td>
        <td>18:30〜</td>
    </tr>
    <tr>
        <td>金</td>
        <td>講義実験棟306</td>
        <td>18:30〜</td>
    </tr>
</table>
<small class="text-left">時間・場所は状況等により変わる場合があります。</small>

<h2>Twitter</h2>
<p>部員がゆる〜く更新中。たまに活動について流れるかも？</p>
<a class="twitter-timeline" data-width="400" data-height="500" data-theme="light" href="https://twitter.com/lc_tut">Tweets by lc_tut</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<% include common/_footer %>