<% var title = "TOP" %>
<% include common/_head %>
<h1>活動内容</h1>
<p>LinuxClubではLinuxに関する技術に限らず、部員が興味を持った様々な技術に触れることを活動としています。</p>
<p>ここでは活動内容を一部紹介します。</p>

<!--<h2>Webアプリの構築・運用</h2>
        <p>LinuxClubでは八王子キャンパスで毎年5月に開催される、スポーツ大会のエントリーサイトの制作・運用を行っています。</p>
        <p>蒲田・八王子の両キャンパスから多くの学生がエントリーを行うサイトの運用を行う事ができます。</p>
        <p>参考：<a href="http://www2.linux.it.teu.ac.jp/sports2015" target="_blank">2015年度エントリーサイト</a></p>-->

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Webアプリの構築・運用</h2>
    </div>
    <div class="panel-body">
        <p>LinuxClubでは八王子キャンパスで毎年5月に開催される、スポーツ大会のエントリーサイトの制作・運用を行っています。</p>
        <p>蒲田・八王子の両キャンパスから多くの学生がエントリーを行うサイトの運用を行う事ができます。</p>
        <p>参考：<a href="http://www2.linux.it.teu.ac.jp/sports2015" target="_blank">2015年度エントリーサイト</a></p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">競技プログラミング</h2>
    </div>
    <div class="panel-body">
        <p>毎年、希望者は競技プログラミングの大会であるICPCへプログラミングサークルである<a href="http://xmlpro.club" target="_blank">XMLPro</a>と合同で参加しています。</p>
        <p>大会以外にも、普段の活動時に<a href="https:/atcoder.jp" target="_blank">AtCoder</a>などのサイトの問題を解いたりもします。</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">ライトニングトーク(LT)</h2>
    </div>
    <div class="panel-body">
        <p>定期的に部員たちによるライトニングトーク大会を開催しています。</p>
        <p>ライトニングトークとは、5分間で行うプレゼンテーションのことで、それぞれ自分の得意な分野や、興味をもっていることなどについての発表を行います。</p>
        <p>難しそうに聞こえるかもしれませんが、やってみると意外とたのしいですよ！</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">その他</h2>
    </div>
    <div class="panel-body">
        <p>その他にも部員個人で制作を行ったり、ITとは関係のないことを同じ趣味を持つ仲間と一緒に行ったりします。</p>
        <p>いろいろな趣味を持った部員<small>(カメラ・バイク・ゲーム・声優・クルマなどなど…w)</small>がいるので、同じ趣味を持った仲間もきっと見つかるはずです。</p>
    </div>
</div>
<% include common/_footer %>