<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="東京工科大学公認サークルLinuxClubの公式サイト" >
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <% if(typeof title == 'undefined'){ var headTitle = "LinuxClub" } else { var headTitle = "LinuxClub | " + title} %>
    <title>
      <%= headTitle %>
    </title>
    <link rel="icon" href="/image/favicon.ico">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <base href="http://www2.linux.it.teu.ac.jp/linux/">
</head>

<body class="no-thank-yu">
<% include _navigation %>

<% if(filename.endsWith("index.ejs")) { %>
<% include _jumbotron %>
<% } %>

<div class="container">
